@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* work sans import (header) */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); /* jetbrains import (body) */

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

/* VARIABLES */
:root {
    /* || COLOR VARIABLES */
    --TASKS-HEADER-COLOR: #819A91;
    --TASKS-HEADER-FONT-COLOR: #EEEFE0;
    --BUTTON-BORDER-COLOR: #819A91;
    --BUTTON-BACKGROUND-COLOR: #EEEFE0;
    --ACTIVE-BUTTON-COLOR: #819A91;
    --BUTTON-FONT-COLOR: #819A91;
    --DIVIDER-BORDER-COLOR: #819A91;
    --ACTIVE-BUTTON-FONT-COLOR: #EEEFE0;
    --FONT-BODY-COLOR: #819A91;
    --FONT-HEADER-COLOR: #EEEFE0;
    --CREATE-TASK-MODAL-HEADER-BORDER-COLOR: #819A91;
    --CREATE-TASK-MODAL-HEADER-BACKGROUND-COLOR: #EEEFE0;
    --CREATE-TASK-MODAL-CONTENT-BORDER-COLOR: #819A91;
    --CREATE-TASK-MODAL-CONTENT-BACKGROUND-COLOR: #EEEFE0;
    --CREATE-TASK-MODAL-CONTENT-INPUT-BACKGROUND-COLOR: whitesmoke;
    --CREATE-USER-MODAL-HEADER-BORDER-COLOR: #819A91;
    --CREATE-USER-MODAL-HEADER-BACKGROUND-COLOR: #EEEFE0;
    --CREATE-USER-MODAL-CONTENT-BORDER-COLOR: #819A91;
    --CREATE-USER-MODAL-CONTENT-BACKGROUND-COLOR: #EEEFE0;
    --CREATE-USER-MODAL-CONTENT-INPUT-BACKGROUND-COLOR: whitesmoke;
    --TASK-CARD-BACKGROUND-COLOR: #EEEFE0;
    --TASK-CARD-BORDER-COLOR: #819A91;  

    /* || FONT FAMILY */
    --TASKS-HEADER-FONT-FAMILY: 'Work Sans', sans-serif;
    --TASKS-BODY-FONT-FAMILY: 'JetBrains Mono', monospace;
    --BUTTON-FONT-FAMILY: 'Work Sans', sans-serif;
    --CREATE-TASK-MODAL-FONT-FAMILY: 'Work Sans', sans-serif;
    --CREATE-USER-MODAL-FONT-FAMILY: 'Work Sans', sans-serif;
    --USERS-BODY-FONT-FAMILY: 'JetBrains Mono', monospace;

    /* || FONT SIZES */
    --FF-XL: clamp(1.5rem, 5vw, 3rem);
    --FF-L: clamp(1.25rem, 4.5vw, 2.5rem);
    --FF-M: clamp(1rem, 4vw, 2rem);
    --FF-S: clamp(0.75rem, 3.5vw, 1.5rem);
    --FF-XS: clamp(0.50rem, 3vw, 1rem);

    /* || MARGIN VALUES */
    --SECTION-MARGIN-VERTICAL: clamp(1rem, 3vw, 2rem);
    --SECTION-MARGIN-HORIZONTAL: clamp(1rem, 3vw, 2rem);
    --DIVIDER-MARGIN-VERTICAL: clamp(0.20rem, 0.5vw, 0.75rem);
}
/* BLOCKS */
body {
    background-color: #EEEFE0;
}
.tasks__header {
    background-color: var(--TASKS-HEADER-COLOR);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.tasks__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: var(--SECTION-MARGIN-VERTICAL);
    margin-inline: var(--SECTION-MARGIN-HORIZONTAL);
    padding-left: 10vw;
}

.tasks__div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.users__div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tasks__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: var(--SECTION-MARGIN-VERTICAL);
    margin-inline: var(--SECTION-MARGIN-HORIZONTAL);
}

.users__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: var(--SECTION-MARGIN-VERTICAL);
    margin-inline: var(--SECTION-MARGIN-HORIZONTAL);
}

.tasks__ul {
    display: flex;
    flex-direction: column;
    margin-top: var(--DIVIDER-MARGIN-VERTICAL);
    list-style: none;
    gap: 0.5vh;
    width: 100%;
}

.tasks__dashboard {
    width: 100%;
}

.users__dashboard {
    width: 100%;
}

.tasks__dashboard__div {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.5vw;
}

.users__dashboard__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.5vw;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: blue;
    width: min(95vw, 600px);
    max-height: 90vh;
    overflow-y: auto;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal__content__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.tasks__dashboard__div__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.users__dashboard__div__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tasklist__div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 2.5vh;
}

.userlist__div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 2.5vh;
}

.task-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--TASK-CARD-BACKGROUND-COLOR);
    border: 5px solid var(--TASK-CARD-BORDER-COLOR);
}

.taskcard__buttons {
    width: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* ELEMENTS */
.tasks__h1 {
    text-transform: uppercase;
    color: var(--TASKS-HEADER-FONT-COLOR);
    font-family: var(--TASKS-HEADER-FONT-FAMILY);
    font-size: var(--FF-XL);
}

.tasks__h2 {
    text-transform: uppercase;
    color: var(--FONT-BODY-COLOR);
    font-family: var(--TASKS-HEADER-FONT-FAMILY);
    font-size: var(--FF-S);
}

.users__h2 {
    text-transform: uppercase;
    color: var(--FONT-BODY-COLOR);
    font-family: var(--TASKS-HEADER-FONT-FAMILY);
    font-size: var(--FF-S);
}

.tasks__p {
    text-transform: uppercase;
    color: var(--TASKS-HEADER-FONT-COLOR);
    font-family: var(--TASKS-BODY-FONT-FAMILY);
}

.tasks__nav__button {
    padding: 0.5rem;
    font-size: var(--FF-S);
    text-transform: uppercase;
    border: 5px solid var(--BUTTON-BORDER-COLOR);
    background-color: var(--BUTTON-BACKGROUND-COLOR);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-FONT-COLOR);
}

.tasks__nav__button:hover,
.tasks__nav__button:active,
.tasks__nav__button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

.tasks__nav__button:first-child {
    border-right: none;
}

.section__divider {
    width: 100%;
    margin-top: var(--DIVIDER-MARGIN-VERTICAL);
    border-top: 4px solid var(--DIVIDER-BORDER-COLOR); /* style the line */
}

.tasks__filter__button {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    font-family: var(--BUTTON-FONT-FAMILY);
    text-transform: uppercase;
    font-size: var(--FF-XS);
    color: var(--FONT-BODY-COLOR);
}

.tasks__filter__button:hover,
.tasks__filter__button:active,
.tasks__filter__button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

.tasks__button {
    padding: 0.5rem;
    font-size: var(--FF-S);
    text-transform: uppercase;
    border: 5px solid var(--BUTTON-BORDER-COLOR);
    background-color: var(--BUTTON-BACKGROUND-COLOR);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-FONT-COLOR);
}

.users__button {
    padding: 0.5rem;
    font-size: var(--FF-S);
    text-transform: uppercase;
    border: 5px solid var(--BUTTON-BORDER-COLOR);
    background-color: var(--BUTTON-BACKGROUND-COLOR);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-FONT-COLOR);
}

.tasks__button:hover,
.tasks__button:active,
.tasks__button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

.users__button:hover,
.users__button:active,
.users__button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

.tasks__h3 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--FONT-BODY-COLOR);
    background-color: var(--CREATE-TASK-MODAL-HEADER-BACKGROUND-COLOR);
    font-family: var(--CREATE-TASK-MODAL-FONT-FAMILY);
    padding: 0.5rem;
    border: 8px solid var(--CREATE-TASK-MODAL-HEADER-BORDER-COLOR);
    font-size: var(--FF-S);
}

.users__h3 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: var(--FONT-BODY-COLOR);
    background-color: var(--CREATE-USER-MODAL-HEADER-BACKGROUND-COLOR);
    font-family: var(--CREATE-USER-MODAL-FONT-FAMILY);
    padding: 0.5rem;
    border: 8px solid var(--CREATE-USER-MODAL-HEADER-BORDER-COLOR);
    font-size: var(--FF-S);
}

.tasks__form {
    display: flex;
    flex-direction: column;
    background-color: var(--CREATE-TASK-MODAL-CONTENT-BACKGROUND-COLOR);
    border: 8px solid var(--CREATE-TASK-MODAL-CONTENT-BORDER-COLOR);
    border-top: none;
    width: 100%;
    padding: 1rem;
}

.users__form {
    display: flex;
    flex-direction: column;
    background-color: var(--CREATE-USER-MODAL-CONTENT-BACKGROUND-COLOR);
    border: 8px solid var(--CREATE-USER-MODAL-CONTENT-BORDER-COLOR);
    border-top: none;
    width: 100%;
    padding: 1rem;
}

.tasks__form__label {
    text-align: left;
    color: var(--FONT-BODY-COLOR);
    text-transform: uppercase;
    font-family: var(--CREATE-TASK-MODAL-FONT-FAMILY);
    font-size: var(--FF-XS);
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}

.users__form__label {
    text-align: left;
    color: var(--FONT-BODY-COLOR);
    text-transform: uppercase;
    font-family: var(--CREATE-USER-MODAL-FONT-FAMILY);
    font-size: var(--FF-XS);
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}

.tasks__text__input,
.tasks__textarea__input,
.tasks__date__input,
.tasks__select__input {
    width: 100%;
    background-color: var(--CREATE-TASK-MODAL-CONTENT-INPUT-BACKGROUND-COLOR);
    border: 3px solid var(--CREATE-TASK-MODAL-CONTENT-BORDER-COLOR);
    color: var(--FONT-BODY-COLOR);
    padding: 0.5rem;
    font-size: var(--FF-XS);
    box-sizing: border-box;
    outline: none;
    font-family: var(--TASKS-BODY-FONT-FAMILY);
}

.users__text__input,
.users__textarea__input,
.users__date__input,
.users__select__input {
    width: 100%;
    background-color: var(--CREATE-TASK-MODAL-CONTENT-INPUT-BACKGROUND-COLOR);
    border: 3px solid var(--CREATE-TASK-MODAL-CONTENT-BORDER-COLOR);
    color: var(--FONT-BODY-COLOR);
    padding: 0.5rem;
    font-size: var(--FF-XS);
    box-sizing: border-box;
    outline: none;
    font-family: var(--TASKS-BODY-FONT-FAMILY);
}

.tasks__form__button {
    padding: 0.5rem;
    font-size: var(--FF-XS);
    text-transform: uppercase;
    border: 5px solid var(--BUTTON-BORDER-COLOR);
    background-color: var(--BUTTON-BACKGROUND-COLOR);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-FONT-COLOR);
}

.users__form__button {
    padding: 0.5rem;
    font-size: var(--FF-XS);
    text-transform: uppercase;
    border: 5px solid var(--BUTTON-BORDER-COLOR);
    background-color: var(--BUTTON-BACKGROUND-COLOR);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-FONT-COLOR);
}

.tasks__form__button:active,
.tasks__form__button:hover,
.tasks__form__button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

.users__form__button:active,
.users__form__button:hover,
.users__form__button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

.taskcard__h4 {
    text-transform: uppercase;
    font-size: var(--FF-XS);
    font-family: var(--TASKS-HEADER-FONT-FAMILY);
    color: var(--FONT-BODY-COLOR);
}

.taskcard__p {
    font-size: var(--FF-XS);
    font-family: var(--TASKS-HEADER-FONT-FAMILY);
    color: var(--FONT-BODY-COLOR);
}

.edit-task-button {
    padding: 0.25rem;
    font-size: var(--FF-XS);
    text-transform: uppercase;
    border: 5px solid var(--BUTTON-BORDER-COLOR);
    background-color: var(--BUTTON-BACKGROUND-COLOR);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-FONT-COLOR);
}

.edit-task-button:active,
.edit-task-button:hover,
.edit-task-button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

.delete-task-button {
    padding: 0.25rem;
    font-size: var(--FF-XS);
    text-transform: uppercase;
    border: 5px solid var(--BUTTON-BORDER-COLOR);
    background-color: var(--BUTTON-BACKGROUND-COLOR);
    font-family: var(--BUTTON-FONT-FAMILY);
    color: var(--BUTTON-FONT-COLOR);
}

.delete-task-button:active,
.delete-task-button:hover,
.delete-task-button:focus {
    background-color: var(--ACTIVE-BUTTON-COLOR);
    color: var(--ACTIVE-BUTTON-FONT-COLOR);
}

/* MEDIA QUERIES */
@media (max-width: 480px) and (orientation: portrait) {
    .taskcard__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    .taskcard__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* ANIMATIONS */

/* UTILITY CLASSES */
.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.nowrap {
    white-space: nowrap;
}
